body {
    text-align: center;
    font-family: Arial;
}

#game {
    width: 600px;
    height: 200px;
    border-bottom: 2px solid #555;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}

#dino {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50px;
    background: url("../image/pngegg.png") no-repeat center;
    background-size: contain;
}

#cactus {
    width: 35px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 600px;
    background: url("../image/pngegg (1).png") no-repeat center;
    background-size: contain;
}


.jump {
    animation: jump 0.5s linear;
}

@keyframes jump {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 100px;
    }
}